<div class="col-sm-6 blog-main">

    <h1>Editing Blog</h1>
    
    <%= render "form", portfolio_item: @portfolio_item %>
    
    <%= link_to 'Show', @blog %> |
    <%= link_to 'Back', blogs_path %>
    
</div>