<div class="app-card-container">
  <div class="card">
    <h1>About Page</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-6", class="border">
        <%= image_tag "http://www.trussvilletribune.com/wp-content/uploads/2016/08/alpaca-.jpg", class:"pic-border", width: 300, height: 335, alt: "Profile Image" %>
      </div>
      
      <div class="col-md-6">
        </p>This is an alpaca</p>
      </div>
    </div>
  </div>
</div>