<h1>About Page</h1>

<hr>

<div class="row">
  <div class="col-md-3", class="border">
    <%= image_tag "http://elelur.com/data_images/mammals/llama/llama-02.jpg", width: 300, height: 350, alt: "Profile Image" %>
    </p>This is an Llama</p>
  </div>
  
  <div class="col-md-6">
    </p>This is an alpaca</p>
  </div>
  
  <div class="col-md-3", class="border">
    <%= image_tag "http://www.trussvilletribune.com/wp-content/uploads/2016/08/alpaca-.jpg", width: 300, height: 340, alt: "Profile Image" %>
    </p>This is an Alpaca</p>
  </div>
</div>


