<h1>Contact Page</h1>

<p><%= number_to_phone "2223334444" %></p>

<p><%= number_to_currency "5555" %></p>

<p><%= number_to_percentage "16" %></p>

<p><%= number_with_delimiter "75632498156589" %></p>
