<div class="app-card-container">
  <div class="card">
    <h1>Contact Page</h1>


    <div class="row">
  
      <div class="col-md-6">
        <h3>My home adress</h3>
          <p> 12146 Pineridge Rd, Sandy Ut</p>
        
        <h3>Phone</h3>
          <p><%= number_to_phone "3852907590" %></p>
      
        <h3>Email</h3>
          <p><a href="mailto:kphollander1@gmail.com?subject=PortfolioContact"" target="_blank" "email me"> Email Me</a> </p>
  
      </div>
    
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.4942747965342!2d-111.8590991842513!3d40.53066787935211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528761d888183d%3A0xc769f385f4bcedfc!2s12146+Pineridge+Rd%2C+Sandy%2C+UT+84094!5e0!3m2!1sen!2sus!4v1500564567901" 
        width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>